.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  justify-content: space-evenly;
  width: fit-content;
  height: fit-content;
  margin-left: 14.5px;
  margin-top: 60px;
}

.book {
  background-color: rgb(221, 221, 221);
  height: 90px;
  width: 75px;
  border-radius: 8px;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.std {
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
}

.navbar {
  width: 390px;
  position: fixed;
  bottom: 20px;
}
