.backgroundStyle{
    width: 100%;
    height: 100%;
}

.searchBar{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    height: 6vh;
    padding: 1vh;
    border-radius: 8vh;
    background-color: #E8E8E8;
}

.textInput{
    width: 70%;
    background-color: #E8E8E8;
    border:none;
}

.searchIcon{
    margin-left: 10%;
    width: 6%;
}

.listBox{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    height: 13vh;
    padding: 1vh;
    border-color: black;
    background-color: #E8E8E8;
    border-radius: 3vh;
    border: 1;
    border-width: 20;
   
}

.image{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 5%;
    width: 20%;
    height: 12vh;
    background-color: white;
    border-radius: 1vh;
    float: left;
}

.info{
    margin-top: 1%;
    margin-left: 1%;
    width: 70%;
    height: 12vh;
    float: left;
}

.title{
    text-align: left;
    font-size: large;
    float: left;
}

.author{
    margin-top: 1%;
    text-align: left;
    font-size: small;
    color: gray;
}

.heartIcon{
    margin-left: 70%;
    width: 10%
}

.selectButton{
    margin-left:60%;
    margin-right: 5%;
    width: 40%;
    height: 40%;
    color: white;
    background-color: #BFC66A;
    border-radius: 3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;
    float: left;
}