.backgroundStyle {
  position: fixed;
  left: 30.54px;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.searchBar {
  margin-top: 5%;
  width: 80%;
  height: 6vh;
  padding: 1vh;
  border-radius: 8vh;
  background-color: #e8e8e8;
}

.textInput {
  margin-top: 4%;
  width: 70%;
  background-color: #e8e8e8;
  border: none;
}

.searchIcon {
  margin-top: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 6%;
  float: right;
}

.listBox {
  margin-top: 5%;
  width: 80%;
  height: 13vh;
  padding: 1vh;
  border-color: black;
  background-color: #e8e8e8;
  border-radius: 3vh;
  border: 1;
  border-width: 20;
}

.image {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 5%;
  width: 25%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1vh;
  float: left;
}

.info {
  margin-top: 1%;
  margin-left: 1%;
  width: 65%;
  height: 12vh;
  float: left;
}

.title {
  text-align: left;
  font-size: large;
  float: left;
  margin-top: 3%;
}

.author {
  position: relative;
  bottom: 90%;
  left: 26%;
  text-align: left;
  font-size: small;
  color: gray;
}

.heartIcon {
  position: relative;
  bottom: 90%;
  margin-left: 81%;
  width: 10%;
}

.selectButton {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #bfc66a;
  border-radius: 20px;
}

.verticleLine {
  margin-left: 10%;
  width: 80%;
  height: 1vh;
  color: #bfc66a;
}

.navigationBar {
  width: 370px;
  position: fixed;
  left: 1.5%;
  bottom: 20px;
}

.buttonLayout {
  height: fit-content;
  width: fit-content;
  position: relative;
  bottom: 68%;
  left: 60%;
}
