.custom-border {
  border-bottom-width: 12px;
  border-color: rgb(218, 216, 216);
  //   box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
}

/* 책장 컨테이너에 원하는 너비를 설정합니다. */
.shelf-container {
  width: 850px; /* 원하는 너비 값으로 설정하세요. */
  height: 200px;
}
